# Node.js specific
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Webpack build output
/dist/
/bundle.js

# Environment variables
.env

# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Virtual environment
venv/
env/
ENV/
venv.bak/

# IDE and Editor specific
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS specific
.DS_Store          # macOS specific
Thumbs.db          # Windows specific
